body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.leaflet-container {
  height: 675px;
  width: 100%;
}
.popups{
  font-size: 20px;

}

svg {
/*  border: 1px solid red;*/
  margin: 1%;
}

circle:hover {
  stroke: black;
  stroke-width: 2;
  opacity: 1.0
}
