body {
/*  border: 5px solid purple;*/
  /*background-color: ghostWhite;*/
  margin: 0;

}

.content {
/*  border: 1px solid magenta;*/
  margin: auto;
  max-width: 1000px;
}

svg {
/*  border: 1px solid dodgerBlue;*/
  display: block;
  margin: 1% 0;
}

.leaflet-container {
/*  border: 1px solid crimson;*/
  height: 600px;
  margin: 2% 1%;
}

.popups{
  font-size: 20px;
}

g:hover text {
  opacity: 1.0;
  fill: black;
  font-weight: bold;
}

g:hover circle {
  opacity: 1.0;
  stroke: black;
  stroke-width: 2;
}

.header {
  background-color: crimson;
  color: ghostwhite;
  text-align: center;
  width: 100%;
}

h1 {
  padding: 1% 0 0 0;
  text-transform: uppercase;
  margin: auto;
  max-width: 1000px;
  width: 50%;
}

h2 {
  padding: 0 0 1% 0;
  text-transform: lowercase;
  margin: auto;
  max-width: 1000px;
  width: 50%;
}

h3 {
/*  border: 1px solid dodgerBlue;*/
  font-size: 22px;
  font-weight: normal;
  margin: auto;
  text-align: center;
}

select {
  background-color: ghostWhite;
  border: 0 solid crimson;
  border-bottom: 5px solid crimson;
  display: inline;
  margin: 1% 1%;
  font-size: 22px;
  font-weight: bold;
  text-align: center;
}
